<table>
    <tr>
        <th rowspan="3">
        </th>
        <td class="left"></td>
    </tr>
    <tr>
        <td class="left"></td>
    </tr>
    <tr>
        <td class="left"></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>